body{
  background: #414141;
  font-family: "karla", sans-serif;
  margin: 0;
  padding: 0;
}
.nav--nav-bar{
  padding: 10px;
  background-color: #181818;
}
.nav--nav-bar img{
  width: 80px;
  border-radius: 50%;
}

.container{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 20px;
  padding: 20px;
}
.image-header{
  position: relative;
  text-align: center;
  border-radius: 12px 12px 0 0;
  width: 200px;
  height: 300px;
  background: #181818;
}
.image-header img{
  width: 100%;
  height: 150px;
  border-radius: 12px 12px 0 0;
}
.image-header, h2,h5,p{
  color: #e4e3e3;
  font-weight: 700;
  margin: 0;
}
.image-header h5{
  color: #a7a7a7;
  margin-top: 4px;
}
.image-header p{
  color: #adadad;
  margin-top: 6px;
}
.card--badge{
  position: absolute;
  background: #cacaca;
  color: #181818;
  font-size: 10px;
  display: block;
  font-weight: 500;
  top: 6px;
  left: 6px;
  padding: 3px;
}